* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    height: 100px;
    background: #f8f9fa;
}

.navbar div {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 500px;
}

table td {
    border: 1px solid black;
}