<!--<app-greet [parentData]="dept"></app-greet>-->
<div>
  <app-greet>
    <h1 style="color: red">JSON</h1>
    <button class="btn btn-warning">Click here for JSON</button>
  </app-greet>
  <app-greet>
    <h1 style="color: red">JSON</h1>
    <button class="btn btn-info">Click here for JSON</button>
  </app-greet>
</div>


<div *ngIf="display">
  ngIf example
</div>

<ng-template [ngIf]="display">
  <div>
    ng-template example FIRST
  </div>
  <div>
    ng-template example SECOND
  </div>
</ng-template>
<ng-container *ngIf="display">
  <div>
    ng-container example FIRST
  </div>
  <div>
    ng-container example SECOND
  </div>
</ng-container>
